<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加学生</title>
<import type='css' file='Images.css1.css' />
<import file='Images.jquery' />
<import file='My97DatePicker.WdatePicker' />
<import file='Images.jquery' />
<import file='charts.highcharts' />
<import file='charts.exporting' />

<style>
td, th {
  text-align: center;
}
</style>
</head>
<script>
  $(function(){
    $('#subject').bind('change', function() {
      var addtime = $('#addtime').val();
      var subject = $('#subject').val();
      $.ajax({
        url: '__URL__/charts',
        type: 'post',
        data: 'subject=' + subject + '&addtime=' + addtime,
        success: function(msg){
          $('#result').append(msg);
        }
      });
      
    });
  });
</script>
<body>
<form method='post' action='__URL__/addOk' enctype='multipart/form-data'>
  <table class="table" cellspacing="1" cellpadding="2" width="99%"
      align="center" border="0">
    <tbody>
      <tr>
        <th style="text-align:left;" colspan="2" class="bg_tr" align="left" height="25">学生考勤管理</th>
      </tr>
    <tr>
        <td style="text-align:right;" class="td_bg" width="17%" height="23" align="center">添加时间：</td>
        <td style="text-align:left;" class="td_bg">
          <input type='text' id="addtime" onClick="WdatePicker({dateFmt:'yyyy-MM'})" />
        </td>
      </tr>
    <tr>
        <td style="text-align:right;" class="td_bg" width="17%" height="23" align="center">所在学科：</td>
        <td style="text-align:left;" class="td_bg">
          <select name="subject" id="subject">
              <option value="">请选择</option> 
              <volist name="subject" id="vo">
                <option value="{$vo.id}">{$vo.title}</option> 
              </volist>
          </select>
        </td>
      </tr>
      <tr>
        <td id="result" style="text-align:left;" class="td_bg" colspan="2">
          <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>