<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Images/css1/css.css" rel="stylesheet" type="text/css">
<style>
td, th {
	text-align: center;
}
</style>
</head>
<body>
<form method='post' action='__URL__/delete'>
  <table class="table" cellspacing="1" cellpadding="2" width="99%"
			align="center" border="0">
    <tbody>
      <tr>
        <th class="bg_tr" align="left" height="25">序号</th>
        <th class="bg_tr" align="left" height="25">学科</th>
        <th class="bg_tr" align="left" height="25">课室</th>
        <th class="bg_tr" align="left" height="25">备注</th>
        <th class="bg_tr" align="left" height="25">修改</th>
        <th class="bg_tr" align="left" height="25"> 
        <input type='submit' name='deleteSubmit' onclick="return confirm('确定删除?')" value='删除' />
        </th>
      </tr>
      <volist name="data" id="vo">
        <tr>
          <td class="td_bg" width="5%" height="23" align="center">{$vo.id}</td>
          <td class="td_bg">{$vo.title}</td>
          <td class="td_bg">{$vo.room}</td>
          <td class="td_bg">{$vo.remark}</td>
          <!-- <td class="td_bg"><a href="__URL__/edit/id/{$vo['id']}">修改</a></td> -->
          <td class="td_bg"><a href="{:U('Home/Subject/edit/id/'.$vo['id'])}">修改</a></td>
          <td class="td_bg"><input type='checkbox' value="{$vo.id}" name='id[]' /></td>
        </tr>
      </volist>
      <tr>
        <td colspan="6">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>